/* 
Reasons for em's{
    -Media queries use :root values so rems set in _base don't matter.
    -If user changes :root font-size then all the other font-sizes and elements based on rems will adapt 
}

*/
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.heading-primary {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
}
.heading-primary::selection {
  background-color: #975291;
  color: #fff;
}

.heading-secondary {
  font-size: 3rem;
  line-height: 3.4rem;
}
.heading-secondary::selection {
  background-color: #975291;
  color: #fff;
}

.heading-tertiary {
  font-size: 2.1rem;
  letter-spacing: 0.2rem;
  color: #666;
  font-weight: 500;
}
.heading-tertiary::selection {
  background-color: #975291;
  color: #fff;
}
.heading-tertiary--up {
  text-transform: uppercase;
}
.heading-tertiary--up::selection {
  background-color: #975291;
  color: #fff;
}
.heading-tertiary--light {
  font-weight: 300;
}
.heading-tertiary--light::selection {
  background-color: #975291;
  color: #fff;
}

.paragraph {
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
}
.paragraph--small {
  font-size: 1.5rem;
  font-weight: 400;
}
.paragraph--small::selection {
  background-color: #975291;
  color: #fff;
}
.paragraph::selection {
  background-color: #975291;
  color: #fff;
}

/* 
&::selection {
  background-color: i.$color-purple-light;
  color: i.$color-white;
}
*/
.u-marg-bot-xsmall {
  margin-bottom: 1rem !important;
}

.u-marg-bot-small {
  margin-bottom: 2rem !important;
}

.u-marg-bot-mid {
  margin-bottom: 4rem !important;
}

.u-marg-bot-big {
  margin-bottom: 6rem !important;
}

.u-marg-top-xsmall {
  margin-top: 1rem !important;
}

.u-marg-top-small {
  margin-top: 2rem !important;
}

.u-marg-top-mid {
  margin-top: 4rem !important;
}

.u-marg-top-big {
  margin-top: 6rem !important;
}

.u-marg-top-huge {
  margin-top: 10rem !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #000;
  padding: 0 3rem;
}
@media (max-width: 75em) {
  body {
    padding: 0 2rem;
  }
}
@media (max-width: 56.25em) {
  body {
    padding: 0 1rem;
  }
}
@media (min-width: 112.5em) {
  body {
    padding: 0;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: white;
  padding: 1rem 3rem;
  box-shadow: 0 0.4rem 1rem rgba(68, 68, 68, 0.1);
}
@media (max-width: 75em) {
  .header {
    padding: 1rem 2rem;
  }
}
@media (max-width: 56.25em) {
  .header {
    padding: 1rem 1rem;
  }
}
@media (min-width: 112.5em) {
  .header {
    padding: 1rem 0;
  }
}
.header:hover {
  box-shadow: 0 0.4rem 1rem rgba(34, 34, 34, 0.15);
}
.header__right {
  text-align: right;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: right;
}
.header__right--mod {
  column-gap: 8rem;
}
@media (max-width: 37.5em) {
  .header__right--mod {
    column-gap: 5rem;
  }
}
@media (max-width: 360px) {
  .header__right--mod {
    column-gap: 2rem;
  }
}
.header__close {
  font-weight: bolder;
  font-size: 2rem;
  cursor: pointer;
}
.header__close:hover {
  color: #444;
  transform: translateY(-1px);
}
.header__close:active {
  color: #222;
}

.btn-text {
  color: #000;
  border: 0;
  background-color: transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  border-bottom: 3px solid #000;
  font-size: 1.8rem;
  line-height: 2.1rem;
  color: black;
  cursor: pointer;
}
.btn-text::selection {
  background-color: #975291;
  color: #fff;
}
@media (max-width: 37.5em) {
  .btn-text {
    font-size: 1.4rem;
  }
}
.btn-text:hover {
  color: #444;
  border-color: #444;
  transform: translateY(-1px);
}
.btn-text:active {
  color: #222;
  border-color: #222;
}

.btn {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 1.5rem 5rem;
  font-size: 2rem;
  border-radius: 100px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  transition: all 0.1s;
}
.btn:hover {
  background-color: #666;
}

.media-container {
  position: relative;
}
.media-container:hover > .card-switch {
  visibility: visible;
  opacity: 1;
}

.media-scroller {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 22%;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  overscroll-behavior-x: contain;
  column-gap: 1.5rem;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  scroll-padding-inline: 1rem;
  padding-left: 0.5rem;
}
@media (max-width: 75em) {
  .media-scroller {
    grid-auto-columns: 28%;
  }
}
@media (max-width: 56.25em) {
  .media-scroller {
    grid-auto-columns: 38%;
  }
}
@media (max-width: 37.5em) {
  .media-scroller {
    grid-auto-columns: 44%;
  }
}
.media-scroller::-webkit-scrollbar {
  height: 0;
}

#progress-bar {
  position: absolute;
  bottom: -0.6rem;
  left: 0;
  height: 0.3rem;
  border-radius: 50rem;
  max-width: 100%;
  background-image: linear-gradient(
    140deg,
    #975291 2%,
    #9c3a6e 10%,
    #4f4fe6 98%
  );
}
#progress-bar::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.5rem;
  border-radius: 50rem;
  background-image: linear-gradient(
    140deg,
    #975291 2%,
    #9c3a6e 10%,
    #4f4fe6 98%
  );
  filter: blur(0.5rem);
}

/* $color-purple-light: #975291;
$color-purple-dark: #9c3a6e;

$color-input-blue: #4f4fe6; */
.ms-card {
  cursor: pointer;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  scroll-snap-align: start;
  border: 1px solid transparent;
  transition: all 0.2s;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.ms-card__img-box {
  border-radius: 3px;
}
.ms-card__img {
  max-width: 100%;
  object-fit: contain;
  aspect-ratio: 1/1;
  display: block;
  margin: 0 auto;
}
.ms-card__description {
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.ms-card__title {
  font-size: 2rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
}
.ms-card__price {
  font-size: 3rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
}
.ms-card:hover {
  /* border: 1px solid rgba(i.$color-black-2, 0.3); */
  border: 1px solid transparent;
  box-shadow: 0px 1px 6px rgba(102, 102, 102, 0.5);
}

.card-switch {
  position: absolute;
  height: 30%;
  width: 4rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
  font-size: 5rem;
}
.card-switch:hover {
  background-color: rgba(234, 230, 230, 0.3) !important;
  cursor: pointer;
}

.card-switch--prev {
  left: 0;
}

.card-switch--next {
  right: 0;
}

.h3h1 {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  column-gap: 3rem;
}
.h3h1__col--right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card {
  padding: 2rem 3rem;
  border-radius: 3px;
  background-position-x: left;
  background-position-y: 10%;
  background-repeat: no-repeat;
  min-height: 45rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}
@media (max-width: 37.5em) {
  .card {
    min-height: 60rem;
    background-size: cover;
    padding: 1.5rem;
  }
}
@media (min-width: 112.5em) {
  .card {
    background-size: cover;
  }
}
.card--1 {
  background-image: linear-gradient(
      110deg,
      rgba(151, 82, 145, 0.8) 0%,
      rgba(156, 58, 110, 0.3) 50%,
      transparent 80%
    ),
    url("../img/panoramic-1.jpg");
  /* url("../../img/panoramic-1.jpg"); */
}
.card--2 {
  background-image: linear-gradient(
      110deg,
      rgba(151, 82, 145, 0.8) 0%,
      rgba(156, 58, 110, 0.3) 50%,
      transparent 80%
    ),
    url("../../img/panoramic-2.jpg");
  background-position-x: 20%;
  background-position-y: 100%;
}
@media (max-width: 75em) {
  .card--2 {
    background-position-x: 50%;
  }
}
@media (max-width: 37.5em) {
  .card--2 {
    background-image: linear-gradient(
        110deg,
        rgba(151, 82, 145, 0.8) 0%,
        rgba(156, 58, 110, 0.3) 50%,
        transparent 80%
      ),
      url("../../img/small-2.jpg");
    background-position-x: center;
  }
}
@media (max-width: 37.5em) {
  .card--2 {
    background-image: linear-gradient(
        110deg,
        rgba(151, 82, 145, 0.8) 0%,
        rgba(156, 58, 110, 0.3) 50%,
        transparent 80%
      ),
      url("../../img/small-2.jpg");
  }
}
.card--3 {
  background-image: linear-gradient(
      110deg,
      rgba(151, 82, 145, 0.8) 0%,
      rgba(156, 58, 110, 0.3) 50%,
      transparent 80%
    ),
    url("../../img/panoramic-3.jpg");
  background-position-x: 10%;
}
@media (max-width: 75em) {
  .card--3 {
    background-position-x: 50%;
  }
}
@media (max-width: 37.5em) {
  .card--3 {
    background-image: linear-gradient(
        110deg,
        rgba(151, 82, 145, 0.8) 0%,
        rgba(156, 58, 110, 0.3) 50%,
        transparent 80%
      ),
      url("../../img/small-3.jpg");
    background-position-x: 35%;
  }
}
.card--4 {
  background-image: linear-gradient(
      110deg,
      rgba(151, 82, 145, 0.8) 0%,
      rgba(156, 58, 110, 0.3) 50%,
      transparent 80%
    ),
    url("../../img/panoramic-4.jpg");
  background-position-x: 70%;
}
@media (max-width: 75em) {
  .card--4 {
    background-position-x: 80%;
  }
}
@media (max-width: 37.5em) {
  .card--4 {
    background-image: linear-gradient(
        110deg,
        rgba(151, 82, 145, 0.8) 0%,
        rgba(156, 58, 110, 0.3) 50%,
        transparent 80%
      ),
      url("../../img/small-4.jpeg");
    background-position-x: 60%;
  }
}
.card__content {
  height: 100%;
  max-width: 50%;
}
@media (max-width: 56.25em) {
  .card__content {
    max-width: 70%;
  }
}
@media (max-width: 37.5em) {
  .card__content {
    max-width: 100%;
  }
}
.card__data {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 3rem 4rem;
  border-radius: 3px;
}
@media (max-width: 37.5em) {
  .card__data {
    padding: 1.5rem;
  }
}
.card__data p {
  font-weight: 500;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 10;
  padding: 0 3rem;
  padding-top: 7.4rem;
  visibility: hidden;
  opacity: 0;
  transition: all 0.25s;
  overflow-y: scroll;
}
@media (max-width: 56.25em) {
  .modal {
    padding: 0 2rem;
    padding-top: 8rem;
  }
}
@media (max-width: 37.5em) {
  .modal {
    padding: 0 1rem;
    padding-top: 6.5rem;
  }
}
.modal__content {
  z-index: 1000;
}
.modal__width {
  width: 45rem;
  margin: 0 auto;
  display: block;
}
@media (max-width: 37.5em) {
  .modal__width {
    width: 95%;
  }
}
.modal__top {
  background-color: #efefef;
  padding: 3.5rem 0;
  margin-bottom: 3rem;
}
.modal__bottom {
  text-align: center;
}
.modal__par {
  font-size: 1.5rem;
  font-weight: 500;
  color: #444;
}
.modal__btn {
  font-family: "Montserrat", sans-serif;
  background-color: #222;
  color: #fff;
  font-weight: 500;
  padding: 1rem 4rem;
  font-size: 1.8rem;
  border-radius: 100px;
  width: 100%;
  border: 2px solid #222;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s;
}
.modal__btn:hover {
  background-color: #666;
  border-color: #666;
}
.modal__btn--white {
  border-color: #222;
  background-color: #fff;
  color: #222;
}
.modal__btn--white:hover {
  border-color: #222;
  background-color: #222;
  color: #fff;
}
.modal__logo {
  height: 2rem;
  margin-right: 2rem;
}

.modal-visible {
  visibility: visible;
  opacity: 1;
}

.modal-display-none {
  display: none;
}

.logo {
  background-image: linear-gradient(to bottom right, #4f4fe6, #975291);
  width: fit-content;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-family: "Permanent Marker", cursive;
}

.logo__link {
  color: transparent;
}

.logo__text {
  font-size: 4rem;
}
.logo__text--footer {
  font-size: 6rem;
}
@media (max-width: 37.5em) {
  .logo__text--footer {
    font-size: 4rem;
  }
}
@media (max-width: 37.5em) {
  .logo__text {
    font-size: 3rem;
  }
}

.brands {
  overflow: hidden;
  max-width: 120rem;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  position: relative;
  align-items: center;
}
.brands:hover .brands__container {
  animation-play-state: paused;
}
.brands__container {
  display: flex;
  min-width: 130rem;
  justify-content: space-between;
  animation-name: slide;
  animation-duration: 35s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  padding: 0 2rem;
}
.brands__item {
  height: 1.5rem;
}
.brands__filter {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 100%;
  z-index: 3;
}

.row {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
}
.row--flex {
  display: flex;
}
.row--space {
  justify-content: space-between;
}

.col--50 {
  width: 50%;
}

.intro {
  background-image: url("../../img/section-about.jpg");
  padding: 3rem;
  height: 70vh;
  min-height: 50rem;
  max-height: 70rem;
  background-size: cover;
  background-position-x: 0%;
  background-position-y: 30%;
  position: relative;
  display: flex;
  align-items: end;
}
@media (max-width: 75em) {
  .intro {
    background-position-x: left;
  }
}
@media (max-width: 56.25em) {
  .intro {
    background-position-x: 20%;
  }
}
@media (max-width: 37.5em) {
  .intro {
    height: 90vh;
    background-position-x: center;
    background-position-x: bottom;
    padding: 1.5rem;
  }
}
.intro__box {
  background-color: rgba(255, 255, 255, 0.8);
  max-width: 40%;
  padding: 3rem;
  height: fit-content;
}
@media (max-width: 75em) {
  .intro__box {
    max-width: 45%;
  }
}
@media (max-width: 56.25em) {
  .intro__box {
    max-width: 55%;
    padding: 1.5rem;
  }
}
@media (max-width: 37.5em) {
  .intro__box {
    max-width: 100%;
    padding: 1.5rem;
  }
}

.ads-container {
  margin-top: 4rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
@media (max-width: 75em) {
  .ads-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 56.25em) {
  .ads-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

.ad {
  display: flex;
  column-gap: 2rem;
  cursor: pointer;
  padding: 1rem;
  transition: all 0.5s;
  border-radius: 3px;
}
.ad:hover {
  background-color: rgba(151, 82, 145, 0.1);
}

.footer {
  font-size: 1.4rem;
  background-color: #efefef;
  padding: 8rem 3rem;
}
@media (max-width: 56.25em) {
  .footer {
    padding: 6rem 1.5rem;
  }
}
.footer__row {
  display: flex;
  column-gap: 5rem;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7rem;
}
@media (max-width: 56.25em) {
  .footer__row {
    flex-direction: column;
    align-items: center;
    row-gap: 3rem;
    width: fit-content;
    margin-top: 4rem;
  }
}
.footer__side {
  border-top: 1px solid #000;
  padding-top: 1rem;
  width: max(46%, 40rem);
}
@media (max-width: 56.25em) {
  .footer__side {
    width: 75%;
  }
}
@media (max-width: 37.5em) {
  .footer__side {
    width: 95%;
  }
}
.footer__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 420px) {
  .footer__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 420px) {
  .footer__item {
    text-align: center;
  }
}
.footer__link {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  transition: all 0.2s;
  cursor: pointer;
}
.footer__link::selection {
  background-color: #975291;
  color: #fff;
}
.footer__link:hover {
  background-color: #975291;
  color: #fff;
  display: inline-block;
  transform: scale(1.1) rotate(10deg);
  box-shadow: 1px 3px 6px #222;
}

.footer__logo {
  text-align: center;
  margin-bottom: 6rem;
}

.section-intro {
  margin-top: 10.5rem;
}
@media (max-width: 75em) {
  .section-intro {
    margin-top: 10rem;
  }
}
@media (max-width: 56.25em) {
  .section-intro {
    margin-top: 9rem;
  }
}
@media (max-width: 37.5em) {
  .section-intro {
    margin-top: 7.5rem;
  }
}

.section-media-scroller {
  margin-top: 9rem;
  margin-bottom: 9rem;
}

/* .section-cards {
  //s
} */
body {
  overflow-y: scroll;
}

.form-container {
  /*  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: max(40%, 50rem);
  margin: 12rem auto 0;
}
@media (max-width: 56.25em) {
  .form-container {
    margin-top: 11rem;
  }
}
@media (max-width: 37.5em) {
  .form-container {
    margin-top: 10rem;
    width: 95%;
  }
}

.form h1 {
  text-align: center;
}
.form__box {
  position: relative;
  padding-top: 2rem;
  margin-bottom: 1rem;
}
.form__input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  color: #222;
  padding: 1rem 1rem;
  border-radius: 3px;
  border: 2px solid #666;
  width: 100%;
  outline: 1px solid transparent;
}
.form__input:focus {
  outline: none;
}
.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding-left: 1rem;
  position: absolute;
  top: 3rem;
  left: 0;
  color: transparent;
  transition: all 0.2s;
}
.form__input:focus {
  outline: 1px solid #4f4fe6;
}
.form__input:focus::placeholder {
  color: transparent;
}
.form__input:focus + .form__label {
  transform: translateY(-3rem);
  color: #000;
}
.form__input:not(:placeholder-shown) + .form__label {
  transform: translateY(-3rem);
  color: #000;
}

/*# sourceMappingURL=style.css.map */
