$color-black: #000;
$color-black-2: #222;
$color-black-3: #444;

$color-dark-gray-1: #666;
$color-dark-gray-2: #888;
$color-dark-gray-3: #aaa;

$color-light-gray-1: #ccc;
$color-light-gray-2: #eee;
$color-light-gray-3: #efefef;

$color-white: #fff;

$color-purple-light: #975291;
$color-purple-dark: #9c3a6e;

$color-input-blue: #4f4fe6;

// Fonts
$font-header: "Oswald", sans-serif;
$font-par: "Montserrat", sans-serif;

// Font sizes
