.h3h1 {
  display: block;
  margin: 0 auto;
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  column-gap: 3rem;

  &__col {
    //width: 50%;

    &--right {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }
}
