// margin-bottoms
.u-marg-bot-xsmall {
  margin-bottom: 1rem !important;
}
.u-marg-bot-small {
  margin-bottom: 2rem !important;
}
.u-marg-bot-mid {
  margin-bottom: 4rem !important;
}
.u-marg-bot-big {
  margin-bottom: 6rem !important;
}
// margin-tops
.u-marg-top-xsmall {
  margin-top: 1rem !important;
}
.u-marg-top-small {
  margin-top: 2rem !important;
}
.u-marg-top-mid {
  margin-top: 4rem !important;
}
.u-marg-top-big {
  margin-top: 6rem !important;
}
.u-marg-top-huge {
  margin-top: 10rem !important;
}
